.card {
	height: 100px;
	width: 50%;
	background: #c8daf8;
	color: rgb(74, 76, 167);
	border-radius: 10px;
	margin-bottom: 20px;

	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 24px;
}

.card strong {
	font-size: 18px;
}
